* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  overflow-x: hidden;

  body::-webkit-scrollbar {
    width: 0.1em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(149, 171, 231);
    outline: none;
  }
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000918;

  #root {
    div#current-location-section {
      background: #22262b;
      border-bottom-left-radius: 5em;
      border-bottom-right-radius: 5em;
      box-shadow: 0px 8px 8px -5px rgba(238, 174, 202, 1);

      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div#location-name {
        margin-top: 1em;
        color: #ebfefe;
        font-weight: bolder;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 0.1em;
          height: 30%;
          width: 30%;
        }
        p {
          padding-right: 0.5em;
        }
      }

      div#basic-info {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.8em;
        div#location-info {
          flex: 1;
          p {
            margin: 0.5em;
            font-size: 0.9em;
            color: #d7fcfd;
            font-weight: bold;
          }
        }

        div#weather-condition-data-main {
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 8px #7ce9ec;
          }
          margin: 1em;
          width: 15em;
          height: 15em;
          margin-left: auto;
          margin-right: auto;
          margin-top: 2em;
          border: 1px solid black;
          border-radius: 10%;
          box-shadow: 0 0 6px #d7fcfd;
          padding: 1em;
          p#current-temp {
            margin-top: 0.5em;
            font-size: 2.5em;
            font-weight: bold;

            sup#degree-symbol {
              font-size: 0.6em;
              margin: 0;
              padding: 0;
            }
          }

          div#weather-condition-icon {
            img {
              width: 6em;
              height: 6em;
            }
          }

          p#weather-description {
            margin-top: 0em;
            font-size: 1.5em;
            color: #d7fcfd;
          }
        }
      }

      details#details-area {
        overflow-x: hidden;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        summary#details-button {
          cursor: pointer;
          list-style: none;

          margin: auto;
          margin-top: 1em;
          margin-bottom: 0.5em;
          width: fit-content;
          background: none;
          border: 1px #000918 solid;
          padding: 0.8em 1em;
          border-radius: 10%;
          color: white;
          font-size: medium;
          cursor: pointer;

          &:hover {
            border: 2px #000918 solid;
            border-radius: 0;
            font-size: large;
          }
        }

        div#details-content {
          margin-bottom: 3em;
          margin-top: 2em;
          width: 80em;
          margin-left: auto;
          margin-right: auto;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            flex: 0.5;
            height: 100%;
            background: #323740;
            padding: 2em;
            margin-left: 2em;
            margin-right: 2em;
            border-radius: 1em;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
              width: 100%;
              margin: auto;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 1.2em;
              img {
                margin-right: 0.5em;
              }
            }
          }
        }
      }

      div#forecast-section {
        margin-top: 1em;
        width: 30%;
        height: 250px;
        margin-bottom: 2em;

        div#forecast-container {
          width: 100%;
          height: 100%;
          overflow: hidden;

          border: 1px #ebfefe solid;
          ::-webkit-scrollbar {
            width: 0.1em;
          }

          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
          }

          ::-webkit-scrollbar-thumb {
            background-color: rgb(149, 171, 231);
            outline: none;
          }

          p#forecast-header {
            text-align: start;
            margin: 1em;
            font-size: large;
            font-weight: 800;
          }
          ul {
            height: 200px;
            width: 570px;
            overflow-y: auto;
            list-style: none;
            li {
              color: white;
              padding: 1em;
              margin: 1em;
              background: #323740;
              border-radius: 0.5em;
              display: flex;
              align-items: center;
              justify-content: space-between;
              div#forecast-weather-data {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: end;
              }
              #forecast-weather-icon {
                margin-right: 2em;
              }
            }
          }
        }
      }
    }

    div#country-section {
      margin: 1em;
      margin-top: 2em;
      div#search-bar {
        display: flex;
        justify-content: center;
        input#search-input {
          width: 30%;
          padding: 1em;
          border: none;
          background: #323740;
          font-size: large;
          border-radius: 0.3em;
          color: white;
          margin-top: 0.2em;
          margin-bottom: 0.2em;
        }
      }
      div#suggestions-container {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        max-height: 200px;
        color: white;
        ::-webkit-scrollbar {
          width: 0.1em;
        }

        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
        }

        ::-webkit-scrollbar-thumb {
          background-color: rgb(149, 171, 231);
          outline: none;
        }
        ul {
          list-style: none;
          width: 100%;
          margin-bottom: 1em;
          background: #22262b;
          border-radius: 0.3em;
          li {
            width: 100%;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            padding: 1em;
            cursor: pointer;
            &:hover {
              border: 1px solid #d7fcfd;
              color: rgba(182, 204, 243, 0.3);
            }
          }
        }
      }

      div#city-basic-info {
        display: flex;
        width: 20%;
        margin-right: auto;
        margin-left: auto;
        color: white;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2em;
        div {
          display: flex;
          align-items: center;
          justify-content: end;
        }
        img {
          width: 4em;
          height: 4em;
          margin-left: 0.5em;
        }

        div#city-basic-weather-info {
          display: flex;
          align-items: center;
          //flex-direction: column;
        }
      }

      div#city-weather-container {
        padding: 0.5em;
        div {
          color: white;
          background: #323740;
          margin-bottom: 2em;
          padding: 2em;
          width: 20%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 0.5em;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 6px #fff;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          display: none;

          p {
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.2em;
            img {
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }
}
