* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  overflow-x: hidden;
}

* body::-webkit-scrollbar {
  width: 0.1em;
}

* body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
          box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
}

* body::-webkit-scrollbar-thumb {
  background-color: #95abe7;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000918;
}

body #root div#current-location-section {
  background: #22262b;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
  -webkit-box-shadow: 0px 8px 8px -5px #eeaeca;
          box-shadow: 0px 8px 8px -5px #eeaeca;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root div#current-location-section div#location-name {
  margin-top: 1em;
  color: #ebfefe;
  font-weight: bolder;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root div#current-location-section div#location-name img {
  margin-right: 0.1em;
  height: 30%;
  width: 30%;
}

body #root div#current-location-section div#location-name p {
  padding-right: 0.5em;
}

body #root div#current-location-section div#basic-info {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8em;
}

body #root div#current-location-section div#basic-info div#location-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body #root div#current-location-section div#basic-info div#location-info p {
  margin: 0.5em;
  font-size: 0.9em;
  color: #d7fcfd;
  font-weight: bold;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main {
  cursor: pointer;
  margin: 1em;
  width: 15em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border: 1px solid black;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 6px #d7fcfd;
          box-shadow: 0 0 6px #d7fcfd;
  padding: 1em;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main:hover {
  -webkit-box-shadow: 0 0 8px #7ce9ec;
          box-shadow: 0 0 8px #7ce9ec;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main p#current-temp {
  margin-top: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main p#current-temp sup#degree-symbol {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main div#weather-condition-icon img {
  width: 6em;
  height: 6em;
}

body #root div#current-location-section div#basic-info div#weather-condition-data-main p#weather-description {
  margin-top: 0em;
  font-size: 1.5em;
  color: #d7fcfd;
}

body #root div#current-location-section details#details-area {
  overflow-x: hidden;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root div#current-location-section details#details-area summary#details-button {
  cursor: pointer;
  list-style: none;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  border: 1px #000918 solid;
  padding: 0.8em 1em;
  border-radius: 10%;
  color: white;
  font-size: medium;
  cursor: pointer;
}

body #root div#current-location-section details#details-area summary#details-button:hover {
  border: 2px #000918 solid;
  border-radius: 0;
  font-size: large;
}

body #root div#current-location-section details#details-area div#details-content {
  margin-bottom: 3em;
  margin-top: 2em;
  width: 80em;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root div#current-location-section details#details-area div#details-content div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  height: 100%;
  background: #323740;
  padding: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root div#current-location-section details#details-area div#details-content div p {
  width: 100%;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

body #root div#current-location-section details#details-area div#details-content div p img {
  margin-right: 0.5em;
}

body #root div#current-location-section div#forecast-section {
  margin-top: 1em;
  width: 30%;
  height: 250px;
  margin-bottom: 2em;
}

body #root div#current-location-section div#forecast-section div#forecast-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px #ebfefe solid;
}

body #root div#current-location-section div#forecast-section div#forecast-container ::-webkit-scrollbar {
  width: 0.1em;
}

body #root div#current-location-section div#forecast-section div#forecast-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
          box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
}

body #root div#current-location-section div#forecast-section div#forecast-container ::-webkit-scrollbar-thumb {
  background-color: #95abe7;
  outline: none;
}

body #root div#current-location-section div#forecast-section div#forecast-container p#forecast-header {
  text-align: start;
  margin: 1em;
  font-size: large;
  font-weight: 800;
}

body #root div#current-location-section div#forecast-section div#forecast-container ul {
  height: 200px;
  width: 570px;
  overflow-y: auto;
  list-style: none;
}

body #root div#current-location-section div#forecast-section div#forecast-container ul li {
  color: white;
  padding: 1em;
  margin: 1em;
  background: #323740;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #root div#current-location-section div#forecast-section div#forecast-container ul li div#forecast-weather-data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body #root div#current-location-section div#forecast-section div#forecast-container ul li #forecast-weather-icon {
  margin-right: 2em;
}

body #root div#country-section {
  margin: 1em;
  margin-top: 2em;
}

body #root div#country-section div#search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root div#country-section div#search-bar input#search-input {
  width: 30%;
  padding: 1em;
  border: none;
  background: #323740;
  font-size: large;
  border-radius: 0.3em;
  color: white;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

body #root div#country-section div#suggestions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  max-height: 200px;
  color: white;
}

body #root div#country-section div#suggestions-container ::-webkit-scrollbar {
  width: 0.1em;
}

body #root div#country-section div#suggestions-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
          box-shadow: inset 0 0 2px rgba(18, 48, 105, 0.3);
}

body #root div#country-section div#suggestions-container ::-webkit-scrollbar-thumb {
  background-color: #95abe7;
  outline: none;
}

body #root div#country-section div#suggestions-container ul {
  list-style: none;
  width: 100%;
  margin-bottom: 1em;
  background: #22262b;
  border-radius: 0.3em;
}

body #root div#country-section div#suggestions-container ul li {
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 1em;
  cursor: pointer;
}

body #root div#country-section div#suggestions-container ul li:hover {
  border: 1px solid #d7fcfd;
  color: rgba(182, 204, 243, 0.3);
}

body #root div#country-section div#city-basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2em;
}

body #root div#country-section div#city-basic-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body #root div#country-section div#city-basic-info img {
  width: 4em;
  height: 4em;
  margin-left: 0.5em;
}

body #root div#country-section div#city-basic-info div#city-basic-weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root div#country-section div#city-weather-container {
  padding: 0.5em;
}

body #root div#country-section div#city-weather-container div {
  color: white;
  background: #323740;
  margin-bottom: 2em;
  padding: 2em;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

body #root div#country-section div#city-weather-container div:hover {
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
}

body #root div#country-section div#city-weather-container div p {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

body #root div#country-section div#city-weather-container div p img {
  margin-right: 0.5em;
}
