<div id="search-bar">
  <input id="search-input" type="text" placeholder="search a city" />
</div>
<div id="suggestions-container">
  <ul id="suggestion-list"></ul>
</div>

<div id="city-basic-info">
  <div>
    <p><span id="city-name"></span></p>
  </div>
  <div id="city-basic-weather-info">
    <div id="city-weather-icon"></div>
    <p><span id="city-temp"></p>
  </div>
</div>
<div id="city-weather-container">
  <div id="city-temp-status">
    <p>
      <img src="../resources/warmtemp.png" alt="warm temp " />
      Max Temp:
      <span>&nbsp<span id="city-max-temp"></span><sup>&deg</sup>C</span>
    </p>
    <p>
      <img src="../resources/coldtemp.png" alt="cold temp " />
      Min Temp:
      <span>&nbsp<span id="city-min-temp"></span><sup>&deg</sup>C</span>
    </p>
    <p>
      <img src="../resources/feel.png" alt="warm temp " />
      Feels Like:
      <span>&nbsp<span id="city-temp-feels"></span><sup>&deg</sup>C</span>
    </p>
  </div>
  <div id="city-weather-status">
    <p>
      <img src="../resources//condition.png" alt="weather condition" />
      condition: <span>&nbsp<span id="city-condition"></span></span>
    </p>
    <p>
      <img src="../resources//cloud.png" alt="cloudy" />
      Cloudy: <span>&nbsp<span id="city-cloudiness"></span>&nbsp%</span>
    </p>
    <p>
      <img src="../resources//humidity.png" alt="humadity" />
      Humidity: <span>&nbsp<span id="city-humidity"></span>&nbsp%</span>
    </p>
    <p>
      <img src="../resources//pressure.png" alt="pressure" />
      Pressure: <span>&nbsp <span id="city-pressure"></span>&nbsphPa</span>
    </p>
  </div>
  <div id="city-wind-status">
    <p>
      <img src="../resources//windspeed.png" alt="wind speed" />
      Wind speed:
      <span>&nbsp <span id="city-wind-speed"></span>&nbspmeter/sec</span>
    </p>
    <p>
      <img src="../resources//direction.png" alt="wind-direction" />
      Wind deg: <span>&nbsp<span id="city-wind-deg"></span>&nbspdegree</span>
    </p>
  </div>
</div>

<script type="text/javascript" src="../scripts/CitySearch.js"></script>
<script type="text/javascript" src="../scripts/CityWeather.js"></script>
