<div id="location-name">
  <img src="../resources/location.png" alt="location marker image" />
  <p id="current-location-name">Dhaka</p>
</div>
<div id="basic-info">
  <div id="location-info">
    <p>&nbsp&nbsp<span id="latitude"></span>&nbspLatitude,&nbsp<span id="langitude"></span>&nbspLangitude</p>
    <p><span id="current-date"></span> </p>
  </div>

  <div id="weather-condition-data-main">
    <p id="current-temp">
      <span id="current-temp-data"></span>
      <sup id="degree-symbol">&deg</sup>
      <span id="temp-unit">C</span>
    </p>
    <div id="weather-condition-icon"></div>
    <p id="weather-description"></p>
  </div>
</div>

<details id="details-area">
  <summary id="details-button">more details</summary>
  <div id="details-content">
    <div id="temp-status">
      <p>
        <img src="../resources/warmtemp.png" alt="warm temp " />
        Max Temp:
        <span>&nbsp<span id="max-temp"></span><sup id="degree-symbol">&deg</sup>C</span>
      </p>
      <p>
        <img src="../resources/coldtemp.png" alt="cold temp " />
        Min Temp:
        <span>&nbsp<span id="min-temp"></span><sup id="degree-symbol">&deg</sup>C</span>
      </p>
      <p>
        <img src="../resources/feel.png" alt="warm temp " />
        Feels Like:
        <span>&nbsp<span id="temp-feels"></span><sup id="degree-symbol">&deg</sup>C</span>
      </p>
    </div>
    <div id="weather-status">
      <p>
        <img src="../resources//condition.png" alt="weather condition" />
        condition: <span>&nbsp<span id="condition"></span></span>
      </p>
      <p>
        <img src="../resources//cloud.png" alt="cloudy" />
        Cloudy: <span>&nbsp<span id="cloudiness"></span>&nbsp%</span>
      </p>
      <p>
        <img src="../resources//humidity.png" alt="humadity" />
        Humidity: <span>&nbsp<span id="humidity"></span>&nbsp%</span>
      </p>
      <p>
        <img src="../resources//pressure.png" alt="pressure" />
        Pressure: <span>&nbsp <span id="pressure"></span>&nbsphPa</span>
      </p>
    </div>
    <div id="wind-status">
      <p>
        <img src="../resources//windspeed.png" alt="wind speed" />
        Wind speed:
        <span>&nbsp <span id="wind-speed"></span>&nbspmeter/sec</span>
      </p>
      <p>
        <img src="../resources//direction.png" alt="wind-direction" />
        Wind deg: <span>&nbsp<span id="wind-deg"></span>&nbspdegree</span>
      </p>
    </div>
  </div>
</details>
<div id="forecast-section">
  <div id="forecast-container">
    <p id="forecast-header">Forecast</p>
    <ul id="forecast-list"></ul>
  </div>
</div>
</div>

<script type="text/javascript" src="./scripts/CurrentLocationWeather.js"></script>
<script type="text/javascript" src="./scripts/UnitConverter.js"></script>
<script type="text/javascript" src="./scripts/Forecast.js"></script>